<div class="banner">
    <div class="banner-text">
        <p class="banner-title">{{title}}</p>
    </div>
    <div class="copyright">De menagerie, Melchior d' Hondecoeter, Rijksmuseum</div>
    <img class="img-responsive" src="img/banners/{{banner}}.jpg">
</div>
