<div class="container footer">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <p>DigiBird is a valorisation project funded by the Dutch national program <a href="http://www.commit-nl.nl"><img src="img/logos/commit.png" id="commit-logo"></img></a></p>
        </div>
    </div>
</div>
