/*******************************************************************************
CSS Styling for Landing page
*******************************************************************************/
@import "./digibird.scss";

.container.tagline {
	margin-top: 20px;
    text-align: center;
}

.tagline .tagline-text {
	font-size: 46px;
}

.container.marketing {
	margin-top: 50px;
    text-align: center;
}

i.jumbo-icon {
	font-size: 10em;
    color: #666666;
}

.container.partners {
	margin-top: 20px;
    text-align: center;
	background-color: #dddddd;
	width: 100%;
}

.partners .logos {
	padding-top: 25px;
    padding-bottom: 25px;
}

.logos .logo {
	display: inline-block;
	vertical-align: middle;
	float: none;
}

.partners #vu-logo {
    max-width: 80%;
}

.partners #naturalis-logo {
    max-width: 60%;
}

.partners #rijksmuseum-logo {
    max-width: 90%;
}
