/*******************************************************************************
CSS Styling for Landing page
*******************************************************************************/
#tagline.container {
	margin-top: 20px;
    text-align: center;
}

#tagline #tagline-text {
	font-size: 46px;
}

#marketing.container {
	margin-top: 20px;
    text-align: center;
}

i.jumbo-icon {
	font-size: 10em;
    color: #666666;
}

#partners.container {
	margin-top: 20px;
    text-align: center;
	background-color: #dddddd;
	width: 100%;
}

#partners #logos {
	padding-top: 25px;
    padding-bottom: 25px;
}

#logos .logo {
	display: inline-block;
	vertical-align: middle;
	float: none;
}

#partners #vu-logo {
    max-width: 80%;
}

#partners #naturalis-logo {
    max-width: 60%;
}

#partners #rijksmuseum-logo {
    max-width: 90%;
}
