/*******************************************************************************
CSS styling for People page
*******************************************************************************/
@import "./digibird.scss";

.container.persons {
	margin-top: 25px;
}

.person .picture {
	width: 80%;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.person .logo {
	width: 50%;
}

.person .logo-container {
	padding-top: 5px;
	height: 50px;
}

.person #naturalis-logo {
	width: 40%;
}
