<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>DigiBird</title>
    <link href="css/digibird.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="bs/css/bootstrap.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="img/favicon.ico">
</head>
<body>
    <!-- {{>header}} -->
    <img src="img/hondecoeter.jpg" class="img-responsive">
    </img>

    <!-- icons -->
    <div class="container marketing">
        <div class="row">
            <div class="col-lg-3">
                <i class="fa fa-university fa-5x"></i>
                <h2>Cultural Heritage</h2>
                <p>Providing access to cultural heritage data about birds, that is our goal. Preferably in an integrated view, combining video's, images, sounds and artworks. Birds are just the beginning, the methods we develop can be used for any topic.</p>
            </div>
            <div class="col-lg-3">
                <i class="fa fa-users fa-5x"></i>
                <h2>Crowdsourcing</h2>
                <p>Not all cultural heritage data is rich enough to be used from the start. In comes the crowd, helping us to better describe the collections. Do you know a lot about birds? Please help us identify them on arworks, in video's or provide sounds (as in recordings of bird sounds, not you mimicking them).</p>
            </div>
            <div class="col-lg-3">
                <i class="fa fa-align-center fa-5x"></i>
                <h2>Alignment</h2>
                <p>Cultural heritage data does not always work that well together. One collection can be described in a completely different way as another. They might need some consilidation, which we call alignment. We consolidate on the fly. </p>
            </div>
            <div class="col-lg-3">
                <i class="fa fa-rocket fa-5x"></i>
                <h2>API</h2>
                <p>And what can you do with this nicely enriched and aligned data? We will provide you with an API, allowing you to embed the data on your own side. A little bit less of code monkey? There will be a demonstrator showcasing the functions of this API.</p>
            </div>
        </div>
    </div>
</body>
</html>
