<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DigiBird</title>
    <link rel="shortcut icon" href="img/favicon.ico">
    <link href="css/digibird-vendor.css" rel="stylesheet">
    <link href="css/digibird-home.css" rel="stylesheet">
    <script src="js/digibird-vendor.js"></script>
    <script src="js/digibird-home.js"></script>
</head>

<body class="home">
    <!-- navigation bar -->
    {{>navbar}}

    <!-- banner -->
    {{>banner banner="home" title=""}}

    <div class="container tagline">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h1 class="tagline-text">On the fly collection integration</h1>
            </div>
        </div>
    </div>

    <!-- main points -->
    <div class="container marketing" id="marketing">
        <div class="row">
            <div class="col-sm-6 col-md-3">
                <i class="fa fa-university jumbo-icon"></i>
                <h2>Cultural Heritage</h2>
                <p>Providing access to cultural heritage data about birds, that is our goal. Preferably in an integrated view, combining videos, images, sounds and artworks. Birds are just the beginning, the methods we develop can be used for any topic.</p>
            </div>
            <div class="col-sm-6 col-md-3">
                <i class="fa fa-users jumbo-icon"></i>
                <h2>Crowdsourcing</h2>
                <p>Not all cultural heritage data is rich enough to be used from the start. In comes the crowd, helping us to better describe the collections. Do you know a lot about birds? Please help us identify them on arworks, in videos or provide sounds (as in recordings of bird sounds, not you mimicking them).</p>
            </div>
            <div class="col-sm-6 col-md-3">
                <i class="fa fa-align-center jumbo-icon"></i>
                <h2>Alignment</h2>
                <p>Cultural heritage data does not always work well together. One collection can be described in a completely different way as another. They might need some counseling, which we call alignment. We align it on the fly.</p>
            </div>
            <div class="col-sm-6 col-md-3">
                <i class="fa fa-rocket jumbo-icon"></i>
                <h2>API</h2>
                <p>And what can you do with this nicely enriched and aligned data? We will provide you with an API, allowing you to embed the data on your own site. Not that much of a code monkey? There will be a demonstrator showcasing the functions of this API.</p>
            </div>
        </div>
    </div>

    <!-- partners -->
    <div class="container partners">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h3>Partners</h3>
            </div>
        </div>

        <div class="row logos">
            <div class="col-xs-6 col-sm-2 logo">
                <a href="http://www.beeldengeluid.nl/en">
                    <img src="img/logos/sound_and_vision.png" class="img-responsive logo">
                    </img>
                </a>
            </div>
            <div class="col-xs-6 col-sm-2 logo">
                <a href="https://www.rijksmuseum.nl/en">
                    <img src="img/logos/rijksmuseum.png" class="img-responsive logo" id="rijksmuseum-logo">
                    </img>
                </a>
            </div>
            <div class="col-xs-6 col-sm-2 logo">
                <a href="http://www.naturalis.nl/en/">
                    <img src="img/logos/naturalis.png" class="img-responsive logo" id="naturalis-logo">
                    </img>
                </a>
            </div>
            <div class="col-xs-6 col-sm-2 logo">
                <a href="http://vu.nl/en/">
                    <img src="img/logos/vu.png" class="img-responsive logo" id="vu-logo">
                    </img>
                </a>
            </div>
            <div class="col-xs-6 col-sm-2 logo">
                <a href="http://www.xeno-canto.org">
                    <img src="img/logos/xeno-canto.png" class="img-responsive logo">
                    </img>
                </a>
            </div>
        </div>
    </div>

    <!-- commit footer -->
    {{>footer}}

</body>
</html>
