<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DigiBird People</title>
    <link href="bs/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/digibird.css" rel="stylesheet">
    <link rel="shortcut icon" href="img/favicon.ico">
</head>

<body class="home">
    <!-- navigation bar -->
    {{>navbar}}

    <!-- people -->
    <div class="container persons">
        <div class="row">
            <div class="col-md-4">
                <div class="well person-center">
                    <img src="img/pictures/chris.png" class="img-responsive person-picture"></img>
                    <h3>Chris Dijkshoorn</h3>
                    <a href="http://chrisdijkshoorn.nl">Website</a>
                    <p>c.r.dijkshoorn@vu.nl</p>
                    <a href="http://vu.nl/en/">
                        <img src="img/logos/vu.png" class="img-responsive person-logo" id="vu-logo">
                        </img>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="well person-center">
                    <img src="img/pictures/cristina.jpg" class="img-responsive person-picture"></img>
                    <h3>Cristina Bucur</h3>
                    <a href="https://www.researchgate.net/profile/Cristina_Iulia_Bucur">Website</a>
                    <p>cristina.bucur@student.vu.nl</p>
                    <a href="http://vu.nl/en/">
                        <img src="img/logos/vu.png" class="img-responsive person-logo" id="vu-logo">
                        </img>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="well person-center">
                    <img src="img/pictures/lora.jpg" class="img-responsive person-picture"></img>
                    <h3>Lora Aroyo</h3>
                    <a href="http://www.cs.vu.nl/~laroyo/">Website</a>
                    <p>lora.aroyo@vu.nl</p>
                    <a href="http://vu.nl/en/">
                        <img src="img/logos/vu.png" class="img-responsive person-logo" id="vu-logo">
                        </img>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="well person-center">
                    <img src="img/pictures/maarten.jpg" class="img-responsive person-picture"></img>
                    <h3>Maarten Brinkerink</h3>
                    <a href="http://www.beeldengeluid.nl/kennis/experts/maarten-brinkerink">Website</a>
                    <p>mbrinkerink@beeldengeluid.nl</p>
                    <a href="http://www.beeldengeluid.nl/en">
                        <img src="img/logos/sound_and_vision.png" class="img-responsive person-logo">
                        </img>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="well person-center">
                    <img src="img/pictures/sander.jpg" class="img-responsive person-picture"></img>
                    <h3>Sander Pieterse</h3>
                    <a href="https://www.linkedin.com/in/smpieterse">Website</a>
                    <p>sander@xeno-canto.org</p>
                    <a href="http://www.xeno-canto.org">
                        <img src="img/logos/xeno-canto.png" class="img-responsive person-logo">
                        </img>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="well person-center">
                    <img src="img/pictures/maartenh.jpg" class="img-responsive person-picture"></img>
                    <h3>Maarten Heerlien</h3>
                    <a href="https://www.linkedin.com/in/maarten-heerlien-0b11b4a">Website</a>
                    <p>maarten.heerlien@naturalis.nl</p>
                    <a href="http://www.naturalis.nl/en/">
                        <img src="img/logos/naturalis.png" class="img-responsive" id="person-naturalis-logo">
                        </img>
                    </a>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
