/*******************************************************************************
Navbar
*******************************************************************************/
#navbarImgLogo {
	height: 33px;
	padding-bottom: 5px;
}

.navbar {
	background-color: rgba(30, 30, 30, 0.85);
}

.navbar-stub {
	background-color: #000000;
	height: 51px;
	width: 100%;
	display: block;
}

/*******************************************************************************
Landing page
*******************************************************************************/
.container-tagline {
	padding-top: 20px;
    text-align: center;
}

.container-tagline .tagline {
	font-size: 46px;
}

.marketing {
    text-align: center;
    margin-top: 50px;
	margin-bottom: 25px;
}

.banner {
	position: relative;
}

.banner-text {
	position: absolute;
	color: #ffffff;
	bottom: 15px;
	left: 25px;
	display: block;
}

.banner .banner-title {
	font-size: 15px; /* legacy support */
	font-size: 4vw;
	margin-top: 5px;
	color: #ffffff;
}

.banner .copyright {
	position: absolute;
	bottom: 0.5em;
	right: 1em;
	font-size: 0.8em; /* legacy support */
	font-size: 1vw;
	color: #666666;
	display: block;
}

@media all and (max-width: 992px) and (min-width: 600px) {
	.banner-text { bottom: 10px; }
	.banner .copyright {visibility: hidden; }
}

@media all and (max-width: 599px) and (min-width: 320px) {
	.banner-text { bottom: 5px; }
	.banner .banner-title {	font-size: 8vw; }
	.banner .copyright {visibility: hidden; }
}

.partners {
    text-align: center;
	background-color: #dddddd;
	width: 100%;
}

.partners .logo {
    padding-top: 25px;
    padding-bottom: 25px;
}

.partners #vu-logo {
    max-width: 80%;
}

.partners #naturalis-logo {
    max-width: 60%;
}

.partners #rijksmuseum-logo {
    max-width: 90%;
}

.footer {
	padding-top: 10px;
    text-align: center;
}

.footer #commit-logo {
	margin-left: 2px;
	margin-bottom: 4px;
	vertical-align: bottom;
	width: 45px;
	height: 15px;
}

.jumbo-icon {
    font-size: 10em;
    color: #666666;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

/*******************************************************************************
Blog page
*******************************************************************************/
.blog {
	padding-top: 30px;
}

.blog-posts {
	/*line-height: 3.5;*/
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	text-align: justify;
}

.blog-link {
	padding-left: 10px;
}

/*******************************************************************************
People page
*******************************************************************************/
.persons {
	margin-top: 25px;
}

.person-center {
	height: auto;
}

.person-picture {
	width: 80%;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.person-logo {
	width: 50%;
}

.logo-container {
	padding-top: 5px;
	height: 50px;
}

#person-naturalis-logo {
	width: 40%;
}
