/*******************************************************************************
Navbar
*******************************************************************************/
#navbarImgLogo {
	height: 33px;
	padding-bottom: 5px;
}

.navbar {
	background-color: rgba(30, 30, 30, 0.85);
}

.navbar-stub {
	background-color: #000000;
	height: 51px;
	width: 100%;
	display: block;
}

/*******************************************************************************
Landing page
*******************************************************************************/
.marketing {
    text-align: center;
    margin-top: 50px;
	margin-bottom: 25px;
}

.partners {
    text-align: center;
	background-color: #dddddd;
	width: 100%;
}

.partners .logo {
    padding-top: 25px;
    padding-bottom: 25px;
}

.partners #vu-logo {
    max-width: 80%;
}

.partners #naturalis-logo {
    max-width: 60%;
}

.partners #rijksmuseum-logo {
    max-width: 90%;
}

.footer {
	padding-top: 10px;
    text-align: center;
}

.footer #commit-logo {
	margin-left: 2px;
	margin-bottom: 4px;
	vertical-align: bottom;
	width: 45px;
	height: 15px;
}

.jumbo-icon {
    font-size: 10em;
    color: #666666;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
